button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.css-2udk4g-MuiButtonBase-root-MuiButton-root {
    border: 2px solid;
    margin-left: 10px;
    
    

    
}
.MuiContainer-root.MuiContainer-maxWidthXs css-nzinn5-MuiContainer-root{
background-color: transparent;
}
.css-nzinn5-MuiContainer-root{
background-color: transparent;
}
